<p id="notice"><%= notice %></p>

<h1>Game Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Option 1 message</th>
      <th>Option 1 fn body</th>
      <th>Option 1 fn return message</th>
      <th>Option 1 fn end</th>
      <th>Option 2 message</th>
      <th>Option 2 fn body</th>
      <th>Option 2 fn return message</th>
      <th>Option 2 fn end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_events.each do |game_event| %>
      <tr>
        <td><%= game_event.event %></td>
        <td><%= game_event.option_1_message %></td>
        <td><%= game_event.option_1_fn_body %></td>
        <td><%= game_event.option_1_fn_return_message %></td>
        <td><%= game_event.option_1_fn_end %></td>
        <td><%= game_event.option_2_message %></td>
        <td><%= game_event.option_2_fn_body %></td>
        <td><%= game_event.option_2_fn_return_message %></td>
        <td><%= game_event.option_2_fn_end %></td>
        <td><%= link_to 'Show', game_event %></td>
        <td><%= link_to 'Edit', edit_game_event_path(game_event) %></td>
        <td><%= link_to 'Destroy', game_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Event', new_game_event_path %>
